body{
  font-family: "Poppins", sans-serif;
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;  
  z-index: 999;
  background: #00000038;
  backdrop-filter: blur(2px);
}

.load{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MryCrd{
  display: flex;
  justify-content: center;

  .game-wrapper{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;

    .flip{
      animation: flipRight .5s;
    }
    
    .card{
      cursor: pointer;
      margin: 10px;
    }
  }
}

@keyframes flipRight{
  0%{
    transform: rotateY(0deg);
  }
  0%{
    transform: rotateY(180deg);
  }
}